<div class="profile">
  <h1>User Summary for <%= @user.username %></h1>
  <p><%= "Joined site #{@user.created_at}" %></p>

  <div class="driver container-lg">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Media Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Category</th>
        </tr>
      <thead>

    </table>

  </div>
</div>




