nav {
  padding: 0;
  margin: 0;
}

nav li {
  padding: 0;
  margin: 0px;
  list-style: none;
}

.logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FF6F61;
  font-size: 26px;
  padding: 4px 20px;
}

.nav-header {
  max-width: 100%;
  background-color: #B2DFDB;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.5rem 1rem;
}

.nav-body {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: space-between;
}






