// Styling of forms.

$form-bg: #3E3F41;

.container-sm {
  padding: 20px 30px;
  margin-top: 50px;
  max-width: 470px;
  background-color: $form-bg;

  h3 {
    color: white;
    font-weight: bold;
    margin: 0px
  }

  p {
    color: white;
  }
}

.user-form {
  padding: 0 0 80px;
}

form {

  .form-group {
    padding: 0px;
  }

  label {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 18px,
  }

  input {
    width: 100%;
  }
}