// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.home {
  a {
    font-size: 30px;
    color: #000;
  }


  h2 {
  margin-top: 20px;
}

.col-md-6 {
  margin-top: 20px;
}

ul {
  padding:0;
  margin: 0;
}

li {
  padding: 90px 0px;
  margin: 20px 0px;
  list-style: none;
  background-color: #3E3F41;
  background-image: image-url(asset_path("highway.jpg"));
  filter: grayscale(100%);
  background-size: 200%;
  border-radius: 12px;
  &:hover {
    filter: grayscale(0%);
  }
  }
}

.spotlight {
  padding: 2rem;
  display: block;

  h2 {
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
  }

  p {
    font-style: italic;
  }
}

.top-ten {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
  margin: 5%;

  h3 {
    font-weight: bold;
    border-bottom: 1px double #64676A;
    width: 100%;
    display: block;
  }
}

.top-ten-list {
  box-sizing: border-box;
}

.top-ten-list-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;

  h4 {
    font-weight: bold;
  }
  
  p {
    color: #8C8F91;
  }
}
